<!--<div class="row">
	<div class="small-12 columns">
		<h1>Job {{job.jobNumber}}.</h1>

	</div>
</div>
-->
<div class="row">
	<div class="small-11 small-offset-1 columns" style="border-left: 10px solid #ccc;">

		<div class="row job-header">
			<div class="small-11 small-offset-1 columns">

				<div class="row">
					<div class="small-6 columns">
						<h1>Job {{job.jobNumber}}</h1>
					</div>
					<div class="small-3 columns text-right">
						<p>Customer:</p>
						<p>Boat:</p>
						<p>Inspector:</p>
					</div>
					<div class="small-3 columns job-details">
						<p>{{job.customer || "~"}} <a ng-if="job.customer" class="delete" href="javascript:void(0);" ng-click="deleteCustomer()"></a></p>
						<p>{{job.boat || "~"}} <a ng-if="job.boat" class="delete" href="javascript:void(0);" ng-click="deleteBoat()"></a></p>
						<p>{{job.inspector || "~"}} <a ng-if="job.inspector" class="delete" href="javascript:void(0);" ng-click="deleteInspector()"></a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-repeat="e in job.events">
			<div class="small-1 column"><div ng-if="e.id" ng-class="{shield: true, 'event-done': true, 'last': !$first && $last}" ng-click="removeEvent($last ? $index : null)"></div></div>
			<div class="small-11 columns">
				<h3 ng-if="e.title">{{e.title}}</h3>
				<h4>{{e.date | date}}  <a ng-if="!e.id" class="delete" href="javascript:void(0);" ng-click="deleteNote($index)"></a></h4>
				<p ng-if="e.text">{{e.text}}</p>

				<div ng-if="addingNote != $index && ($last || job.events[$index+1].id)" class="text-center">
				<ul class="button-group round tiny" style="display: inline-block;">
					<li>
						<button class="button tiny" ng-click="startAddingNote($index)">{{ $last ? "Add" : "Insert" }} Note</button>
					</li>
				</ul>
				</div>

				<div class="row" ng-if="addingNote.index == $index">
					<div class="small-11 small-offset-1 columns end" ng-include="'partials/actions/addNote.html'"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="small-11 small-offset-1 columns">
				<div ng-if="!activeActionTemplateUrl" class="text-center">
				<ul class="button-group round" style="display: inline-block;">
					<li ng-repeat="a in actions">
						<button class="button success" ng-click="activateAction(a)">{{a.caption}}</button>
					</li>
				</ul>
				</div>

				<div class="row" ng-if="activeActionTemplateUrl">
					<div class="small-11 small-offset-1 columns end" ng-include="activeActionTemplateUrl"></div>
				</div>
			</div>
		</div>

		<div ng-if="job.closed">
			<h1>Job Closed</h1>
		</div>
		<div ng-if="!job.closed && pendingSteps.length > 0">
		<hr>
		<h1>Next steps</h1>

		<div class="row" ng-repeat="s in pendingSteps">
			<div class="small-1 column"><div ng-if="s.id" ng-class="{shield: true, 'event-pending': true, 'next': $first}" ng-click="markDone($first ? s.id : null)"></div></div>
			<div class="small-11 columns">
				<h3>{{s.title}}</h3>
			</div>
		</div>
		</div>
	</div>
</div>

