<table class="job-table">
	<thead>
		<tr>
			<th style="width: 100px;" ng-click="setOrderBy('jobNumber')">Job <span ng-if="orderField == 'jobNumber'" ng-bind="orderDir ? '↑':'↓'"></span></th>
			<th ng-click="setOrderBy('customer')">Customer  <span ng-if="orderField == 'customer'" ng-bind="orderDir ? '↑':'↓'"></span></th>
			<th ng-click="setOrderBy('boat')">Boat  <span ng-if="orderField == 'boat'" ng-bind="orderDir ? '↑':'↓'"></span></th>
			<th ng-click="setOrderBy('stepsDone')" ng-style="{width:32*13}">Status  <span ng-if="orderField == 'stepsDone'" ng-bind="orderDir ? '↑':'↓'"></span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="j in jobs | orderBy:orderField:orderDir" ng-click="go(j)" class="job-table-row">
			<td>{{j.jobNumber}}</td>
			<td>{{j.customer || "~"}}</td>
			<td>{{j.boat || "~"}}</td>
			<td>
				<div ng-style="{width: j.percent}" class="job-progress" ng-class="{relax: j.relax, complete: j.complete}"></div>
				<!--<div ng-class="{'shield-small': true, 'event-pending': !j.processSteps[s.id], 'event-done': j.processSteps[s.id]}" ng-repeat="s in processSteps"></div>-->
			</td>
		</tr>
	</tbody>
</table>