<div class="row">
	<div class="small-12 columns">
		<hr>
	</div>
</div>
<div class="row">
	<div class="small-6 columns">
		<h1>{{title}}</h1>
	</div>
	<div class="small-6 columns text-right">
		<button class="button round success" style="margin: 0;" ng-click="addNewJob()">Open new job</button>
		<a ng-show="closed" class="button round success" style="margin: 0;" href="#/jobs">View open jobs</a>
		<a ng-hide="closed" class="button round success" style="margin: 0;" href="#/jobs?closed=true">View closed jobs</a>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">

		<jobs-table jobs="jobs"></jobs-table>

	</div>
</div>
