<div class="row">
	<div class="small-12 columns">
		<hr>
	</div>
</div>
<div class="row">
	<div class="small-6 columns">
		<h1>Open Jobs</h1>
	</div>
	<div class="small-6 columns text-right">
		<button class="button round success" style="margin: 0;" ng-click="addNewJob()">Open new job</button>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">

		<jobs-table jobs="openJobs"></jobs-table>

	</div>
</div>

<div class="row">
	<div class="small-6 columns">
		<h1>Closed Jobs</h1>
	</div>
	<div class="small-6 columns text-right">

	</div>
</div>
<div class="row">
	<div class="small-12 columns">

		<jobs-table jobs="closedJobs"></jobs-table>

	</div>
</div>