<div class="row">
	<div class="small-12 columns">
		<hr>
	</div>
</div>
<div class="row">
	<div class="small-6 columns">
		<h1>Jobs</h1>
	</div>
	<div class="small-6 columns text-right">
		<button class="button round success" style="margin: 0;" ng-click="addNewJob()">Open new job</button>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<hr>

		<div class="row job-link" ng-repeat="j in jobs | orderBy:'jobNumber':true"><a href="#/jobs/{{j.jobNumber}}" >
			<div class="small-2 columns"><h3>{{j.jobNumber}}</h3></div>
			<div class="small-3 columns"><h4>{{j.customer}}</h4> <h4 ng-if="!j.customer"><i>No customer entered</i></h4></div>
			<div class="small-7 columns text-right">
				<div class="shield-small event-done" ng-repeat="id in j.stepsDone"></div><div class="shield-small event-pending" ng-repeat="id in j.totalSteps"></div>
			</div></a>
		</div>
	</div>
</div>